 body{
    background-color: rgb(2, 2, 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

 button{
    background-color: #212529 ;
    color: white;
    border: none;
    border-radius: 2px;
    margin: 10px 3px 0px 3px ;
    padding: 5px;
}

.tissTypeDiv , .quantityTpeDiv{
    padding: 0.5em;
    width: auto;
    height: auto;
    border: 1px solid white;
    background-color: #212529;
    color:white;
    margin-right: 1em;
}

.additionalInfoDiv{
    display: grid;
    gap: 1em;
}

.tissTypeDiv li , .quantityTpeDiv li {
    list-style: none;
}

.valueText{
     display: flex;
    justify-content: space-evenly;
    border: 1px solid white;
    background-color: #212529;
    color:white;
    align-self: center;
    margin-top: 1em;
}

table.table.table-bordered{
    margin: 0 auto;
    max-height: min-height;
    min-height: 722px;
    max-width: min-width;
    min-width: 822px;
    table-layout: auto;
    margin-top: 5em;
}

table th, table td{
    text-align: center;
    vertical-align: middle;
}

.graphic{
    display: flex;
    justify-content: center;
    width: max-content;
    height: max-content;
}

.changeInfo{
  display: flex;
  justify-content: center;
}

.paginationArea.show-only-last button:not(:last-child) {
    display: none;
}

#container{
    display : flex;
    justify-content: center;
    flex-direction: column;
}

.paginationArea{
    display: flex;
    justify-content: center;
}

.graphic{
    margin-top: 10em;
    height: 60vh;
    width: 100vh
}

tr{
    text-align: center;
}

.fa-solid.fa-circle-info{
    margin-left: 0.5rem;
}

.fa-solid.fa-filter{
    margin-left: 0.5rem;
}